body {
    background-color: rgb(144, 176, 204);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}


#header {
    /* font-family: 'Courier New', Courier, monospace; */
    font-size: 5em;
    font-weight: 900;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px 0 40px 0;
    text-decoration: underline;
}

#game-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.player-title {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: 900;
}

.player-header {
    margin-right: 150px;
}

.board-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.player, .computer {
    margin-top: 50px;
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap ;
    background-image: linear-gradient(to right, rgb(1, 56, 1), green);
    /* border: 2px dotted black; */
}

/* .board:first-child {
    width: 50px;
    height: 50px;
    border: 0.5px black dotted;
} */

.player-square {
    width: 46px;
    height: 46px;
    border: 2px dotted black;
}

.computer-square {
    width: 46px;
    height: 46px;
    border: 2px dotted black;

}

.player > .square[location='0'] {
    background-color: red;
}

.info-display {
    display: flex;
}

button {
    margin-right: 100px;
    height: max-content;
}

.fleet-container {
    height: 225px;
    width: 750px;
    background-color: rgb(12, 66, 48);
    /* border: 2px solid black; */
    margin: 30px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.fleet-header {
    text-align: center;
    color: whitesmoke;
    font-size: 2em;
    margin-top: 20px;
    font-weight: 600;
    width: 100%;
}

.fleet-subcontainer > div {
    color: black;
    height: 20px;
    border: 2px solid black;
    width: fit-content;
    padding: 2px

}

.fleet-subcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 750px;
}

#carrier-preview {
    background-color: red;
}

#battleship-preview {
    background-color: yellow;
}

#cruiser-preview {
    background-color: blue;
}

#submarine-preview {
    background-color: pink;
}

#destroyer-preview {
    background-color: orange;
}

button {
    margin: 100px 0;
    width: 50px;
    background-color: yellow;

}

.taken {
    background-color: red;
}

.player-square:hover {
    background-color: rgb(1, 30, 1);
}

#clicked {
    background-color: rgb(133, 0, 0);
}